/*#81562D 129-86-45 cafe*/ 
/*#F17621  241-118-33 naranja*/

/*
Design by Marycp
Develop by Metalkarlos 
*/

/* Global Settings*/
* {
	font-size:10px;
	font-family:Verdana, Helvetica, Arial, sans-serif;
}

a {
	text-decoration:none; 
}

a:hover, a:active {
	text-decoration:underline;
}

label {
	color:#084B8A;
	font-weight:bold;
	font-size:12px;
}

h1 {
	font-size:18px;
	text-transform:capitalize;
}

h2 {
	font-size:13px;
	text-transform:capitalize;
}

h3 {
	font-size:8px;
	text-transform:capitalize;
}

/* Login Settings */
.centrar-body {
	background-color:#ffffff;
}

#centrar {
	margin:auto;
	position:absolute;
	top:50%;
	left:50%;
}

#centrar .header {
	height:15%;
}

/*.marco {
	border-style: solid;
	border-width: 1px;
	border-color: #DF7401;
	border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
}*/

/*#logo {
	font-family: serif;
	font-size: 5em;
	font-weight: bold;
	color: #DF7401;
	background-color: #000000;
	border-style: solid;
	border-width: 1px;
	border-color: #DF7401;
	border-radius: 5px;
	-moz-border-radius: 5px;
}*/

#centrar .contenido {
	height:70%;
	border-style:solid;
	border-color:activeborder;
	border-width:1px 1px 1px 1px;
	border-radius:5px;
	-moz-border-radius:5px;
	background-image:url(../resources/images/miscellaneous/motabg.png);
}

#centrar .contenido .datos {
	margin:auto;
	border-style:solid;
	border-width:1;
}

#centrar .footer {
	text-align:center;
	height:15%;
}

#centrar .footer .copyright {
	margin:0px;
	color:#747474;
}

#centrar .footer .compatible {
	margin:auto;
	border-spacing:5px;
}

/* Default Template */
.principal-body {
	background-color:#bfbfbf;
}

#principal {
	min-width:1024px;
	margin:auto;
	padding-top:1px;
	padding-left:1px;
	padding-right:1px;
	padding-bottom:1px;
	/*background-color: #bfbfbf;*/
	border-radius:5px;
	-moz-border-radius:5px;
}

#principal .header {
	border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
}

#principal .header .links {
	padding:10px 10px 0px 0px;
	text-align:right;
}

#principal .menu {
	/*margin-top: 0px;
	background-color: #ffffff;*/
	border-radius:5px;
	-moz-border-radius:5px;
}

#principal .body {
	border-radius:0px 0px 5px 5px;
	-moz-border-radius:0px 0px 5px 5px;
	min-height:800px;
	overflow:auto;
}

#principal .body .content {
	margin-top: 20px;
	margin-left: 5px;
}

#principal .body .content .left {
	width:200px;
	clear:left;
	float:left;
	text-align:center;
}

#principal .body .content .right {
	width:800px;
	float:left;
	padding-left:5px;
}

#footer {
	padding-top:10px;
	width:100%;
	height:20px;
	margin:auto;
	background-color:transparent;
	border-radius:5px;
	-moz-border-radius:5px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	color:#747474;
	/*clear: both;*/
}

.buttontrans {
	opacity:0.4;
	filter:alpha(opacity=40);/*For IE8 and earlier*/
	cursor:pointer;
}

.buttontrans:hover {
	opacity:0.7;
	filter:alpha(opacity=70);/*For IE8 and earlier*/
}
